<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/libs/font-awesome.min.css">
<link rel="stylesheet" href="/static/libs/animate.min.css">
<link rel="stylesheet" href="/static/admin/css/page.css">
<body>
	<div class="container animated fadeInUp">
		<div class="row">
			<div class="col xs-12">
				<div class="panel m-r-sm">
					<div class="panel-heading">
						<h5><i class="fa fa-fw fa-list"></i>提现记录</h5>
					</div>
					<div class="panel-toolbar">
						<form class="form-inline" method="get" autocomplete="off">
							<div class="btn-group">
								<a class="btn btn-sm btn-default {:!isset($_GET['time']) ? 'active' : ''}" href="{:U('account/cash')}">全部</a>
								<a class="btn btn-sm btn-default {:isset($_GET['time']) && I('get.time')==1 ? 'active' : ''}" href="{:U('account/cash', array('time'=>1))}">今</a>
								<a class="btn btn-sm btn-default {:isset($_GET['time']) && I('get.time')==2 ? 'active' : ''}" href="{:U('account/cash', array('time'=>2))}">昨</a>
								<a class="btn btn-sm btn-default {:isset($_GET['time']) && I('get.time')==3 ? 'active' : ''}" href="{:U('account/cash', array('time'=>3))}">周</a>
								<a class="btn btn-sm btn-default {:isset($_GET['time']) && I('get.time')==4 ? 'active' : ''}" href="{:U('account/cash', array('time'=>4))}">月</a>
							</div>
							<div class="form-group m-l-sm">
								<input type="text" name="phone" class="form-control input-sm" placeholder="手机号码" value="{:I('get.phone')}">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-sm btn-default"><i class="fa fa-fw fa-filter"></i>筛选</button>
							</div>
						</form>
					</div>
					<div class="panel-body">
						<form class="list">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>所属用户</th>
										<th>提现编号</th>
										<th>提现金额</th>
										<th>实际到账</th>
										<th>提现手续费</th>
										<th>创建时间</th>
										<th>状态</th>
									</tr>
								</thead>
								<tbody>
									<foreach name="list" item="vo">
										<tr>
											<td>{$vo.id}</td>
											<td>{$vo.phone}</td>
											<td>{$vo.cash_no}</td>
											<td>{$vo.money}</td>
											<td>{$vo.money_real}</td>
											<td>{$vo.cash_fee}</td>
											<td>{$vo.create_time|date='Y-m-d H:i',###}</td>
											<td>{$vo.status|get_stead=###,array('提现中', '提现成功', '提现失败')}</td>
										</tr>
									</foreach>
								</tbody>
							</table>
						</form>
						<div class="pagination m-t-md">{$page}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/static/libs/jquery.min.js"></script>
<script src="/static/libs/layer/layer.js"></script>
<script src="/static/admin/js/common.js"></script>
</html>