<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/libs/font-awesome.min.css">
<link rel="stylesheet" href="/static/libs/animate.min.css">
<link rel="stylesheet" href="/static/admin/css/page.css">
<body>
	<div class="container animated fadeInUp">
		<div class="row">
			<div class="col xs-12">
				<div class="panel m-r-sm">
					<div class="panel-heading">
						<h5><i class="fa fa-fw fa-list"></i>糖果记录</h5>
					</div>
					<div class="panel-toolbar">
						<form class="form-inline" method="get" autocomplete="off">
							<div class="form-group w-xxs">
								<input type="text" name="id" class="form-control input-sm" placeholder="会员ID" value="{:I('get.id')}">
							</div>
							
							<div class="form-group">
								<select name="brief" class="form-control">
                                  
                                    <option value="">请选择变动明细类型</option>
<option value="兑换商城购物币">兑换商城购物币</option>
<option value="用户任务步数奖励">用户任务步数奖励</option>
<option value="兑换任务">兑换任务</option>
<option value="卖出糖果冻结">卖出糖果冻结</option>
<option value="取消交易">取消交易</option>
<option value="超时未成交解冻">超时未成交解冻</option>
<option value="管理员操作">管理员操作</option>
<option value="交易成功">交易成功</option>
<option value="补回">补回糖果</option>
<option value="减去">减去糖果</option>
								</select>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-sm btn-default"><i class="fa fa-fw fa-filter"></i>筛选</button>
							</div>
							<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;糖果总数：{$change}</span>
						</form>
						
					</div>
					
					<div class="panel-body line-dashed">
						<form class="list">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th><label class="i-check i-check-xs"><input type="checkbox"><i></i></label> #</th>
										<th>用户id</th>
										<th>变动数量</th>
                                      <th>变动后数量</th>
										
										<th>变动明细</th>
										<th>变动时间</th>
									</tr>
								</thead>
								<tbody>
									<foreach name="list" item="vo">
										<tr>
											<td><label class="i-check i-check-xs"><input type="checkbox" name="ids[]" value="{$vo.id}"><i></i></label> {$vo.id}</td>
											
											<td>{$vo.user_id}</td>
											<td>{$vo.change}</td>
											<td>{$vo.total}</td>
                                            <td>{$vo.brief}</td>
											<td>{$vo.create_time|date='m/d H:i:s',###}</td>
											
											
										</tr>
									</foreach>
								</tbody>
							</table>
						</form>
						<div class="pagination m-t-md">{$page}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/static/libs/jquery.min.js"></script>
<script src="/static/libs/layer/layer.js"></script>
<script src="/static/admin/js/common.js"></script>
<script>
	$(function(){
		$('a.edit').click(function(e){
			$.iframe($(this).attr('href'), ['450px', '490px']);
			e.preventDefault();
		});
		$('.del').click(function(){
			var ids = $('form.list').serialize();
			if (ids) {
				layer.confirm('确认要删除这些记录?', {title:'提示信息'}, function(index){
					$.tip('{:U('user/del')}', ids);
					layer.close(index);
				});
			} else {
				layer.msg('至少选择一条记录', {anim: 6});
			}
		});
		$('form.list table th label').click(function(){
			if ($(this).find('input').is(':checked')) {
				$(this).parents('table').find('td input').prop('checked', true);
			} else {
				$(this).parents('table').find('td input').prop('checked', false);
			}
		});
	});
</script>
</html>