<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/libs/font-awesome.min.css">
<link rel="stylesheet" href="/static/admin/css/page.css">
<body class="p-none bg-white">
	<div class="container">
		<div class="panel">
			<div class="panel-heading">
				<h5><i class="fa fa-fw fa-edit"></i>编辑员工</h5>
			</div>
			<div class="panel-body">
				<form class="edit" method="post" autocomplete="off">
					<div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">角色</label>
						<div class="col xs-10 p-l-sm">
							<select name="role_id" class="form-control">
								<foreach name="role" item="vo">
									<option value="{$vo.id}" {$vo['id']==$data['role_id'] ? 'selected' : ''}>{$vo.title}</option>
								</foreach>
							</select>
						</div>
					</div>
					<div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">用户名</label>
						<div class="col xs-10 p-l-sm">
							<input type="text" name="username" class="form-control" value="{$data.username}" disabled>
						</div>
					</div>
					<div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">密码</label>
						<div class="col xs-10 p-l-sm">
							<input type="password" name="password" class="form-control" placeholder="留空则不更新">
						</div>
					</div>
					<div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">昵称</label>
						<div class="col xs-10 p-l-sm">
							<input type="text" name="nickname" class="form-control" placeholder="选填" value="{$data.nickname}">
						</div>
					</div>
					<div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">状态</label>
						<div class="col xs-10 p-l-sm p-t-sm">
							<label class="i-check i-check-xs w-xxs"><input type="radio" name="status" value="1" {$data['status']==1 ? 'checked' : ''}><i></i>正常</label>
							<label class="i-check i-check-xs w-xxs"><input type="radio" name="status" value="0" {$data['status']==0 ? 'checked' : ''}><i></i>冻结</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col xs-10 offset-2 p-l-sm">
							<button type="submit" class="btn btn-sm btn-info">提交</button>
							<a class="cancel btn btn-sm btn-danger" href="">取消</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/static/libs/jquery.min.js"></script>
<script src="/static/libs/layer/layer.js"></script>
<script src="/static/admin/js/common.js"></script>
<script>
	$(function(){
		$('form.edit').submit(function(e){
			$.tip(window.location.href, $(this).serialize(), 1);
			e.preventDefault();
		});
	});
</script>
</html>