<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/libs/font-awesome.min.css">
<link rel="stylesheet" href="/static/libs/animate.min.css">
<link rel="stylesheet" href="/static/admin/css/page.css">
<body>
	<div class="container animated fadeInUp">
		<div class="row">
			<div class="col xs-8">
				<div class="panel m-r-sm">
					<div class="panel-heading">
						<h5><i class="fa fa-fw fa-sitemap"></i>员工角色</h5>
					</div>
					<div class="panel-toolbar bg-white">
						<button class="del btn btn-xs btn-addon btn-danger">删除选中</button>
					</div>
					<div class="panel-body line-dashed">
						<form class="list">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th><label class="i-check i-check-xs"><input type="checkbox"><i></i></label> #</th>
										<th>角色名称</th>
										<th>描述</th>
										<th>状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<foreach name="list" item="vo">
										<tr>
											<td><label class="i-check i-check-xs"><input type="checkbox" name="ids[]" value="{$vo.id}"><i></i></label> {$vo.id}</td>
											<td>{$vo.title}</td>
											<td>{$vo.description|get_substr=###,24}</td>
											<td>{$vo.status|get_stead}</td>
											<td>
												<a class="edit btn btn-xs btn-success" href="{:U('staff/role_edit', array('id'=>$vo['id']))}">编辑</a>
											</td>
										</tr>
									</foreach>
								</tbody>
							</table>
						</form>
						<div class="pagination m-t-md">{$page}</div>
					</div>
				</div>
			</div>
			<div class="col xs-4">
				<div class="panel m-l-sm">
					<div class="panel-heading">
						<h5><i class="fa fa-fw fa-plus"></i>添加角色</h5>
					</div>
					<div class="panel-body">
						<form class="add" method="post" autocomplete="off">
							<div class="form-group m-b">
								<label>角色名称</label>
								<input type="text" name="title" class="form-control" placeholder="必填">
							</div>
							<div class="form-group m-b">
								<label>描述</label>
								<textarea name="description" class="form-control" placeholder="选填"></textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-sm btn-info">提交</button>
								<button type="reset" class="btn btn-sm btn-danger">重置</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/static/libs/jquery.min.js"></script>
<script src="/static/libs/layer/layer.js"></script>
<script src="/static/admin/js/common.js"></script>
<script>
	$(function(){
		$('form.add').submit(function(e){
			$.tip('{:U('staff/role_add')}', $(this).serialize());
			e.preventDefault();
		});
		$('a.edit').click(function(e){
			$.iframe($(this).attr('href'), ['680px', '500px']);
			e.preventDefault();
		});
		$('.del').click(function(){
			var ids = $('form.list').serialize();
			if (ids) {
				layer.confirm('确认要删除这些记录?', {title:'提示信息'}, function(index){
					$.tip('{:U('staff/role_del')}', ids);
					layer.close(index);
				});
			} else {
				layer.msg('至少选择一条记录', {anim: 6});
			}
		});
		$('form.list table th label').click(function(){
			if ($(this).find('input').is(':checked')) {
				$(this).parents('table').find('td input').prop('checked', true);
			} else {
				$(this).parents('table').find('td input').prop('checked', false);
			}
		});
	});
</script>
</html>