<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/libs/font-awesome.min.css">
<link rel="stylesheet" href="/static/admin/css/page.css">
<body class="p-none bg-white">
	<div class="container">
		<div class="panel">
			<div class="panel-heading">
				<h5><i class="fa fa-fw fa-pencil-square-o"></i>编辑任务</h5>
			</div>
			<div class="panel-body">
				<form class="edit" method="post" autocomplete="off">
					<div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">任务名称</label>
						<div class="col xs-10 p-l-sm">
							<input type="text" name="name" class="form-control" placeholder="必填" value="{$data.name}">
						</div>
					</div>
					<div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">英文名称</label>
						<div class="col xs-10 p-l-sm">
							<input type="text" name="enname" class="form-control" placeholder="必填" value="{$data.enname}">
						</div>
					</div>
					<div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">活跃度</label>
						<div class="col xs-10 p-l-sm">
							<input type="number" name="huoyue" class="form-control" placeholder="必填" value="{$data.huoyue}">
						</div>
					</div>
					<div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">兑换所需糖果</label>
						<div class="col xs-10 p-l-sm">
							<input type="number" name="price" class="form-control" placeholder="必填" value="{$data.price}">
						</div>
					</div>
                  <div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">	可获得糖果</label>
						<div class="col xs-10 p-l-sm">
							<input type="number" name="rewad" class="form-control" placeholder="必填" value="{$data.rewad}">
						</div>
					</div>
                  <div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">每日所需步数</label>
						<div class="col xs-10 p-l-sm">
							<input type="number" name="step" class="form-control" placeholder="必填" value="{$data.step}">
						</div>
					</div>
                  <div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">期限</label>
						<div class="col xs-10 p-l-sm">
							<input type="number" name="term" class="form-control" placeholder="必填" value="{$data.term}">
						</div>
					</div>
                   <div class="row form-group m-b">
						<label class="col xs-2 p-r-sm">同时拥有数量</label>
						<div class="col xs-10 p-l-sm">
							<input type="number" name="all" class="form-control" placeholder="必填" value="{$data.all}">
						</div>
					</div>
					<div class="row form-group">
						<div class="col xs-10 offset-2 p-l-sm">
							<button type="submit" class="btn btn-sm btn-info">提交</button>
							<a class="cancel btn btn-sm btn-danger" href="">取消</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/static/libs/jquery.min.js"></script>
<script src="/static/libs/layer/layer.js"></script>
<script src="/static/admin/js/common.js"></script>
<script>
	$(function(){
		$('form.edit').submit(function(e){
			$.tip(window.location.href, $(this).serialize(), 1);
			e.preventDefault();
		});
	});
</script>
</html>